/* ***************************** */
/* ABOVE 768px (TABLETS) */
/* ***************************** */

@media all and (min-width: 768px) {
  /* FEATURE SECTION */
  .feature-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .feature-section .col {
    width: calc(100% / 3 - 10px);
  }

  .feature-section .first-col {
    width: calc((100% / 3) * 2);
  }

  .first-col-img {
    width: 50%;
  }

  /* TESTIMONIALS SECTION */

  .testimonial-card .col {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: left;
  }

  .testimonial-card-img {
    margin: 0;
  }

  .testimonial-card-content {
    width: 70%;
  }

  /* BENEFIT SECTION */
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .benefit-section .col {
    width: 48%;
  }

  /* ABOUT SECTION */
  .about-us-section.container {
    width: 85%;
  }

  .about-us-section {
    display: flex;
    justify-content: space-between;
  }

  .about-img {
    margin-bottom: 4.8rem;
  }

  .about-left {
    width: 55%;
  }

  .about-right {
    width: 35%;
  }
}

/* ***************************** */
/* ABOVE 1200px (DESKTOP) */
/* ***************************** */
@media all and (min-width: 1200px) {
  /* HEADER */
  header .container {
    width: 60%;
  }

  .hamburgher {
    display: none;
  }

  .main-nav {
    display: block;
  }

  /* FEATURE SECTION */

  .feature-section.container {
    width: 60%;
  }

  /* first card */
  .feature-section .first-col {
    display: flex;
    gap: 2rem;
  }

  .first-col-content {
    width: 50%;
  }

  .first-col-img {
    align-self: flex-end;
    width: 40%;
  }

  .feature-section-btn {
    padding: 1.2rem 4rem;
  }

  /* PLANNING SECTION */

  .planning-section .container {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .planning-content,
  .planning-card {
    width: 50%;
  }

  .planning-img {
    margin-bottom: 6.8rem;
  }

  /* TESTIMONIAL SECTIO */
  .testimonial-section.container {
    width: 60%;
  }

  /* BENEFIT SECTION */
  .benefit-section .container {
    width: 60%;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .benefit-section .col {
    width: calc(100% / 3 - 15px);
  }

  /* ABOUT SECTION */
  .about-us-section.container {
    width: 55%;
  }
}
