/* HEADER */

header {
  background-color: #0084fd;
  height: 7rem;
  margin-bottom: 4rem;
}

header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburgher {
  font-size: 2rem;
  color: #fff;
}

/* DESKTOP MAIN NAV */
.main-nav {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.nav-list li a {
  font-weight: 400;
  font-size: 1.6rem;
}

/* nav btn */

#nav-btn {
  letter-spacing: 0;
  color: black;
  background-color: #fff;
  padding: 1rem 1.5rem;
}

/* MAIN */
/* feature section */

.feature-section .col {
  background-color: #b5ddff;
  text-align: center;
}

/* cols */

.feature-section .col-title {
  color: #0084fd;
}

.feature-section .col-text {
  font-weight: 700;
  color: #63839e;
}

/* first col */

.feature-section .first-col {
  text-align: left;
}

.feature-section-btn {
  font-weight: 700;
  background-color: #0084fd;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.first-col-img {
  width: 100%;
  position: relative;
  bottom: -3px;
}

.first-col {
  padding-bottom: 0;
}

/* general feature col */

.col-icon {
  text-align: center;
  font-size: 7rem;
  color: #0084fd;
  margin-bottom: 2rem;
}

/* STRATEGIC PLANNING SECTION */

.planning-section {
  background-color: #9792e4;
  padding: 10rem 0 5rem 0;
}

.planning-content {
  padding: 0 2.4rem;
}

.planning-img {
  margin-bottom: 2.4rem;
  text-align: center;
}

.planning-section .section-title,
.planning-section .col-text {
  color: #fff;
}

/* planning card */
.planning-card .col {
  text-align: center;
  background-color: #fff;
  border-radius: 6.4rem;
}

.planning-card-img {
  margin-bottom: 2.4rem;
}

.planning-card .col-text {
  color: black;
  font-style: italic;
}

.planning-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50px;
  height: 50px;
  font-size: 2.4rem;
  border-radius: 50%;
  color: black;
  background-color: #9792e4;
}

/* TESTIMONIAL SECTION */
.testimonial-content {
  text-align: center;
  margin: 4.8rem 0;
}

.testimonial-section h4 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

.testimonial-content .section-title {
  color: #9792e4;
}

/* testimonial card */

.testimonial-card .col {
  background-color: #9792e4;
  text-align: center;
}

.testimonial-card-img {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-bottom: 3.2rem;
}

.testimonial-card-img img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
}

.testimonial-card-content .col-text,
.testimonial-name {
  color: #fff;
}

.testimonial-name {
  font-weight: 700;
}

/* BENEFIT SECTION */
.benefit-section {
  padding: 4.8rem 0 3.2rem 0;
  background-color: #9792e4;
}

.benefit-section .section-title {
  text-align: center;
  color: #fff;
  margin-bottom: 4.8rem;
}

.benefit-section .col {
  background-color: #fff;
}

.benefit-number {
  color: #9792e4;
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.benefit-section .col-title {
  color: #9792e4;
}

.benefit-section .col-text {
  color: #737373;
}

.benefit-btn {
  background-color: #9792e4;
  font-size: 1.8rem;
}

/* ABOUT US SECTION */
.about-us-section {
  padding: 10rem 0 5rem 0;
}

.about-us-section .section-title {
  color: #9792e4;
}

.about-left .col-text {
  margin-bottom: 4.8rem;
}

.about-img {
  margin: 0;
  position: relative;
  margin-bottom: 2.4rem;
}

.about-img .fa-solid {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 6.2rem;
  color: #9792e4;
}

.about-right .col-title {
  font-weight: 700;
  color: #9792e4;
}

.about-btn .btn {
  background-color: #9792e4;
  letter-spacing: 0;
  font-size: 1.6rem;
}
